@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Plantilla.cshtml";
}

@section textoParrafo{
    Alguna monda con lorem ipsum
}

@{ 
    int numero = 123;
    string nombre = "Nombre";
}

<p> @numero </p>

@if(numero > 100)
{
    <h3>El numero es mayor a 100</h3>
}
else
{
    <h3>El numero no es mayor a 100</h3>
}